---
---
{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}

.li {
  text-decoration: none;
}

.ul {
  text-decoration: none;
}

.banner {
  padding: 2em;
  border-top: 10px solid var(--color-primary);
  border-bottom: 10px solid var(--color-primary);
}

.bannertext {
  color: var(--color-primary-dark);
}
