:root {
  --color-primary: red;
  --color-primary-dark: firebrick;
  --color-seconday: gold;
  --color-accent: blue;
  --color-neutral: white;
  --color-extra: lightgrey;
  --font-primary: Arial, sans-serif;
  --font-secondary: cooper-black-std, serif;
}

html {
  font-family: var(--font-primary);
}
