.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  text-decoration: none;
  color: var(--color-neutral);
  padding: 1em;
  align-content: center;
  font-family: cooper-black-std;
}

.btn:hover {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  color: var(--color-extra);
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-ghost:hover {
  background-color: var(--color-extra);
  color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}

.btn-light {
  background-color: var(--color-extra);
  border-color: var(--color-primary)
  color: var(--color-primary)
}

.btn-nav {
  background-color: transparent;
  color: var(--color-primary);
  border-color: transparent;
}

.btn-nav:hover {
  background-color: var(--color-extra);
  color: var(--color-primary-dark);
  border-color: transparent;
}

.btn-ftr {
  background-color: var(--color-primary-dark);
  color: var(--color-neutral);
  border-color: transparent;
}

.btn-home {
  padding: 1em;
}
