<header class="nav grid">
  <div class="unit s-1-2 m-1-3">
    <a href="/default/">{% pattern buttons/home %}</a>
  </div>

  <div class="push-none unit s-1-2 m-1-3">
    <h1>Bits of String</h1>
  </div>

  <div class="unit s-1-1 m-1-3">
    <div class="push-none">
      <nav class="text-center align-left">
        <ul class="nav list-group flex-row">
          <li class="navtext {% if page.highlight_nav == 'products' %}current{% endif %}"><a href="/products/">Products</a></li>
          <li class="navtext {% if page.highlight_nav == 'mycart' %}current{% endif %}"><a href="/cart/">My Cart</a></li>
          <li class="navtext {% if page.highlight_nav == 'checkout' %}current{% endif %}"><a href="/checkout/">Checkout</a></li>
        </ul>
      </nav>
    </div>
  </div>

</header>
