.productcard:hover {
  background-color: var(--color-extra);
}

.hide {
  visibility: hidden;
}

.icon-display {
  width:90%;
}

.productcard .image {
  padding: 1em;
  max-width: 50%;
}

.formlinks {
  color: var(--color-accent);
}

.productcard {
  border-radius: 2em;
  border-width: medium;
  border-color: var(--color-primary);
}
