.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: none;
}

.h1 {
  margin: 0;
  align-items: center;
}

.navtext {
  padding: 1em;
  color: var(--color-primary);
  font-family: cooper-black-std, serif;
}

.navtext:hover {
  color: var(--color-secondary);
}

.current {
  color: var(--color-primary-dark);
}
